#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  /*background-color: #1A120B;  */
}

.logo {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}